body{
    background-color: #210033;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.background-video video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  
  transition: opacity 0.5s ease;
}




.song-card {
  display: flex; /* div donde estan los albuneas*/
  align-items: center;
  width: 400px;
  height: 120px;
  margin: 100px auto;
  background-color: #380056;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.song-card:hover {
  transform: scale(1.05);
}

.song-card img {
  width: 150px; /* ✅ tamaño controlado */
  height: 150px;
  object-fit: cover;
}

.song-card .info {
  padding: 15px;
  text-align: center;
}

.song-card h2 {
  margin: 0;
  font-size: 20px;
}

.song-card p {
  margin: 5px 0 0;
  font-size: 16px;
  color: #555;
}

.button-volver{/*boton volver */
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    border: none;
    background-color: #6200ea;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
  #pagina2 .background-video video {
  opacity: 1;
}

.reproductor-box {
  width: 390px;
  height: 450px;
  background: rgba(128, 0, 128, 0.2); /* morado translúcido */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 25px;
  margin: 180px auto;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: white;
  position: relative;
}

/* Imagen en la parte superior dentro del cuadro */
.cover-image {
  width: 300px;
  height:220px;
  max-width: 300px;
  border-radius: 15px;
  margin-bottom: 15px;
  object-fit: cover;
}

/* Texto del título y artista */
.reproductor-box .info h2 {
  margin: 10px 0 5px;
  font-size: 22px;
  font-weight: bold;
}

.reproductor-box .info p {
  margin: 0;
  font-size: 16px;
  opacity: 0.9;
}

.boton-control {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #ffffff22;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  backdrop-filter: blur(5px);
  
}

.boton-control:hover {
  background-color: #ffffff44;
}

